<ion-header >
  <ion-navbar >
    <ion-title> 
      Movies Info
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content   padding>
  <ion-item >
    <ion-label  floating>Enter the name of the movie..</ion-label>
    <ion-input #txtMovie color="dark" list="autocompleteList" [(ngModel)]='params["movieName"]' (keyup)='GetSuggestions(txtMovie.value)' type="text" value=""></ion-input>
    </ion-item>
    <ion-item>
  <button  ion-button color="dark" round small  [navPush]='movieDetailsPage' [navParams]="params" item-right >Get Info!</button>
 </ion-item>
    <datalist id="autocompleteList">
      <option *ngFor="let movie of moviesSuggestions" value="{{movie}}" >
    </datalist>
  

  <h3>Popular Movies</h3>
 
  <ion-list >
  <ion-item color="light" *ngFor="let movie of topMovies">
    <ion-thumbnail item-left>
      <img src="{{movie.poster_path}}">
    </ion-thumbnail>
    <h2>{{movie.title}}</h2>
    <p>{{movie.release_date}}</p>
    <button ion-button clear item-right [navPush]='movieDetailsPage' [navParams]="{movieName:movie.title}" color="dark" >Check</button>
  </ion-item>
</ion-list>

</ion-content>